<div class="text-center p-3 bg-light">
  <ul class="nav justify-content-center">
    <li>
      <button class="btn btn-dark rounded-circle p-0" type="button">
        <i class="bi bi-facebook"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-dark rounded-circle p-0" type="button">
        <i class="bi bi-twitter"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-dark rounded-circle p-0" type="button">
        <i class="bi bi-instagram"></i>
      </button>
    </li>
    <li>  
      <button class="btn btn-dark rounded-circle p-0" type="button">
        <i class="bi bi-youtube"></i>
      </button>
    </li>
  </ul>
  <hr>
  <div>© 2022</div>
</div>