<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="mb-3 fs-1">Connexion</div>
    <div id="banAlert" class="alert alert-danger" role="alert" hidden>
      Votre compte est banni !
    </div>
    <div id="unknownUser" class="alert alert-warning" role="alert" hidden>
      Pseudo ou mot de passe incorrect
    </div>
    <div class="form-floating mb-3 col">
      <input type="text" class="form-control" id="floatingInput" placeholder="Pseudo" [(ngModel)]="username">
      <label for="floatingInput">Pseudo</label>
    </div>
    <div class="form-floating mb-3 col">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe" [(ngModel)]="password">
      <label for="floatingPassword">Mot de passe</label>
    </div>
    <div class="d-grid gap-2 col">
      <button (click)="connect()" type="submit" class="btn btn-dark btn-lg">Se connecter</button>
    </div>
  </div>
  <div class="col"></div>
</div>