<p>administration works!</p>

<table>
    <tr *ngFor="let u of users">
        <td>
            {{u.username}}
        </td>
        <td>
            {{u.prenom}}
        </td>
        <td>
            {{u.nom}}
        </td>

        <td><button (click) = "makeGod(u)">God mode</button></td>
        <td *ngIf="u.isAdmin; else notAdmin">God mode activé</td>
        <ng-template #notAdmin>God mode désactivé</ng-template>
        <!---
        <td>
        <label class="switch">
            God mode
            <input type="checkbox" [checked]="u.isAdmin" (change) = "makeGod(u)" >
            <span class="slider round"></span>
        </label>
        </td>

        <td>
            <label class="switch">
                Dog mode
                <input type="checkbox" [checked]="u.isBanned" (click) = "makeDog(u)" >
                <span class="slider round"></span>
            </label>
        </td>
    -->

    </tr>
</table>