<p>administration works!</p>

<table>
    <tr *ngFor="let u of users">
        <td>
            {{u.username}}
        </td>
        <td>
            {{u.prenom}}
        </td>
        <td>
            {{u.nom}}
        </td>

        <!--<td><button (click) = "makeGod(u)">God mode</button></td>-->
        <td *ngIf="u.isAdmin; else notAdmin"><button (click) = "makeGod(u)">Désactiver le God Mode</button></td>
        <ng-template #notAdmin><button (click) = "makeGod(u)">Activer le God Mode</button></ng-template>

        <td *ngIf="u.isBanned; else notBanned"><button (click) = "makeDog(u)">Pardonner l'utilisateur</button></td>
        <ng-template #notBanned><button (click) = "makeDog(u)">Utiliser le Ban Hammer</button></ng-template>

    </tr>
</table>