<div class="fs-2 mb-3">Mon Profil</div>
<div class="row">
  <div class="col-4">
    <div class="card shadow p-3">
        <table>
          <tr>
            <th>Pseudo: </th>
            <td>{{user.username}}</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-pen"></i></button></td>
          </tr>
          <tr>
            <td colspan="3">
              <a href="" class="link-primary">Changer de mot de passe</a>
            </td>
          </tr>
          <tr>
            <th>Nom: </th>
            <td>{{user.nom}}</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-pen"></i></button></td>
          </tr>
          <tr>
            <th>Prénom: </th>
            <td>{{user.prenom}}</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-pen"></i></button></td>
          </tr>
          <tr>
            <th>Adresse: </th>
            <td>{{user.adresse}}</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-pen"></i></button></td>
          </tr>
        </table>
  </div>
  <div class="col"></div>
</div>